---
title: Comics Archive
pagination:
  data: collections.allStorylines
  size: 10
  alias: storylines
  reverse: false
permalink: "{% if pagination.pageNumber == 0 %}/comics/{% else %}/comics/page/{{ pagination.pageNumber + 1 }}/{% endif %}"
layout: false
---
{% extends "base.njk" %}

{# Get first comic data for description #}
{% set comic = manifest.comics[0] %}
{% set description = comic.description %}
{% set basePath = "/comics/" %}
{% set allStorylines = comic.storylines %}

{% block content %}
  <header>
    <h1>Latest Comics</h1>
    {% if description %}
    <div class="intro">{{ description | markdown | safe }}</div>
    {% endif %}
  </header>

  <ul class="archive-list">
  {% for storyline in pagination.items %}
    <li>
      <h2><a href="{{ basePath }}{{ storyline.pages[0].slug }}/">{{ storyline.title }}</a></h2>
      {% if storyline.description %}
      <p>{{ storyline.description }}</p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  {% include "archive-pagination.njk" %}
{% endblock %}

{% block webmcp %}
{% include "webmcp-archive.njk" %}
{% endblock %}

{% block sidebar %}
{% set firstPageUrl = basePath + (allStorylines | last).pages[0].slug + "/" %}
{% include "sidebar-comics.njk" %}
{% endblock %}
