<footer class="footer_main">
  <small>Copyright &copy; 2003&ndash;{{ currentYear }} <a href="https://rachelnabors.com">Rachel Nabors</a> unless otherwise indicated. You rip me off, I breaka your thumbs. Capiche?</small>
</footer>
