{# WebMCP Minimal - Just base tools for pages without special features
   Tools: list_comics, search_comics (from base)

   Use this for: about pages, blog posts, static pages
#}
{% include "webmcp-base.njk" %}
